body{
    margin: 0;

}
.container{
    widows  : 80%;
    margin: 0 auto;
    width: auto;
}
header{
    background-color: aqua;
    resize: horizontal;
}
header{
    content: '';
    display: table;
    clear: both;
    width: fit-content;
    align-self: center;
    display: table-header-group;
}
.logo{
    float: left;
    padding: 10px 0;
}
nav{
    float: right;
}
nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 71px;
    padding-top: 80px;
    position: relative;
}
nav a{
    color: darkblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px
    ;
}
nav a:hover{
    color: black;
    text-decoration: none;
}
nav a::before{
    content: '';
    display: block;
    height: 2px;
    background-color: black;
    position: absolute;
    width: 0;
    top: 0;
    transition: all ease-in-out 200ms;
}
nav a:hover::before{
    width: 100%;
}
#form {
    background: url(../images/contact.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
}
.form-control {
    background: transparent;
    color: white;
    opacity: 1;
    padding: 12px;
}
#contain{
    background-color: rgb(0, 0, 0);
      margin-top: 14px;
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 2s ease;
}
.inner:hover {
    transform: scale(1.5);
}
#vote{
    background-color: rgb(0, 0, 0);
    font-size: xx-large;
}
.container{
    background-color: black;
    position: relative;
}
.card-title{
    color: skyblue;
    font-size: xx-large;
}
.card-text{
    color: skyblue;
}
#gridCheck{
    font-size: 400%;
}